.product{
  display: inline-block;
}
.decorative-lights .product-details{
  width: 280px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}
.container{
  width: 100%;
}
img{
  width: 215px;
  height: 100%;
}
.decorative-lights .product-details:hover{
  background-color:rgba(0,0,0,.7);
  cursor: pointer;
}
.decorative-lights .product-details{
  position: relative;
}
.decorative-lights .product-details ul{
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:white;
  padding: 0;
  display: none;
  margin: 0%;
  background-color: rgba(0,0,0,.7);
  padding: 10px;
}
.decorative-lights .product-details:hover ul{
  display: block;
}
.decorative-lights .product-details{
  position: relative;
}
.sale{
  position: absolute;
  top:0;
  right: 0;
  background-color: rgb(191, 167, 93);
  padding: 10px;
}
.red-text
{
  text-decoration: line-through;
  color: red;
}
.rating{
  vertical-align: sub;
}
.copy-right{
  text-align: left;
  border-top: 1px solid white;
  width: 90%;
  padding: 10px;
}
.decorative-lights{
  display: inline-block;
}