.collection-list {
  position: relative;
  display: inline-block;
  margin: 10px;
}
.collection-list img {
  width: 280px;
  height: 280px;
  cursor: pointer;
}
h2 {
  font-weight: 200;
}
.collection-list .table-lamps {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.collection-list {
  cursor: pointer;
}
.collection-list:hover .table-lamps {
  display: block;
}
.table-lamps div {
  color: white;
  margin: 20px;
}
.table-lamps div:nth-child(2) {
  border: solid white 1px;
  padding: 15px;
  font-size: 13px;
}
.table-lamps div:hover:nth-child(2) {
  background-color: white;
  color: black;
}
.product-name {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 6px 3px;
}
